.Header{
    margin-top: 20px;
    margin-bottom: 10px;
    h1{
        font-size: x-large;
        font-weight:500;
        .f{
            color: rgb(0, 0, 255);
        }
        .u{
            color: rgb(253, 116, 4);
        }
        .n{
            color: rgb(255, 0, 0);
        }
        .d{
            color: rgb(0, 202, 34);
        }
        .o{
            color: rgb(255, 115, 0);
        }
    }
    p{
        font-size: large;
    }
    .desc{
        font-size: 15px;
    }
  
}  
.btn{
       
    margin-top: 50px;
    a{
        color: rgb(77, 77, 253);
        padding: 3px;
    }
    button{
        background-color: rgb(77, 77, 253);
        color: #fff;
    }
}
a{
                
    text-decoration: none;
    cursor: pointer;
}
.container{
    margin-top: 20px;
    margin-left:30%;
    margin-right: 30%;
    height: 80%;
    width:40%;
    border: 1px solid rgba(211, 211, 211, 0.651);
    border-radius: 10px;
    padding: 50px;  
   
  
   
}

.container-lt-md{
    margin-top: 20px;
    margin-left:5%;
    margin-right: 5%;
    width:90%;
    border: 1px solid rgba(211, 211, 211, 0.651);
    border-radius: 10px;
    padding: 50px;  
   
     
}