.Container{
    margin-top: 20px;
    margin-left: 35%;
    margin-right: 35%;
    height: 80%;
    width:30%;
    border: 1px solid lightgrey;
    border-radius: 10px;
    justify-content: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .Header{
        margin-top: -20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-size: x-large;
            font-weight:500;
            .f{
                color: rgb(0, 0, 255);
            }
            .u{
                color: rgb(253, 116, 4);
            }
            .n{
                color: rgb(255, 0, 0);
            }
            .d{
                color: rgb(0, 202, 34);
            }
            .o{
                color: rgb(255, 115, 0);
            }
        }
        p{
            font-size: large;
        }
        .desc{
            font-size: 15px;
        }
      
    }    
    .login-content{
        margin-top: 10px;
        .Email-content{
            .email{
                width: 405px;
            }
        }
    }
    .login-content{
        
        .Password-content{
            display: flex;
            flex-direction: column;
            .password{
                width: 405px;
                height: 70px;
            }
            a{
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
    .btn{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        a{
            color: rgb(77, 77, 253);
            padding: 3px;
        }
        button{
            background-color: rgb(77, 77, 253);
            color: #fff;
        }
    }
    
}