<div class="Container">
   <div class="Header">
        <h1>Fundoo-Notes</h1>
        <p>Sign in</p>
        <p class="desc">Use Your Fundoo Account</p>
    </div>
     <div class="login-content">
        <div class="Email-content">
            <mat-form-field class="email" appearance="outline">
            <mat-label>Enter Your Email</mat-label>
            <input matInput placeholder="email">
            </mat-form-field> 
        </div>
        <div class="Password-content">
                <mat-form-field class="password" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="password">
                </mat-form-field>
                <a href="#" target="_blank">Forgot password?</a>       
        </div>
    </div>
    <div class="btn">
        <a mat-button href="https://www.google.com/" target="_blank">create account</a>
        <button mat-raised-button >Next</button>
    </div>
</div>