<div class="Container" >
    <form [formGroup]="loginForm">
   <div class="Header">
        <h1>
            <span class="f">F</span>
            <span class="u">u</span>
            <span class="n">n</span>
            <span class="d">d</span>
            <span class="o">o</span>
            <span class="o">o</span>
        </h1>
        <p>Sign in</p>
        <p class="desc">Use Your Fundoo Account</p>
    </div>
     <div class="login-content">
        <div class="Email-content">
            <mat-form-field class="email" appearance="outline">
            <mat-label>Enter Your Email</mat-label>
            <input matInput placeholder="email" formControlName="email">
            <mat-error>enter valid email</mat-error>
            </mat-form-field> 
        </div>
        <div class="Password-content">
                <mat-form-field class="password" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="password" formControlName="password">
                <mat-error>enter valid password</mat-error>
                </mat-form-field>
                <a routerLink="/forgetpassword" target="_blank">Forgot password?</a>       
        </div>
    </div>
    <div class="btn">
        <a mat-button href="/register" target="_blank">create account</a>
        <button mat-raised-button >Next</button>
    </div>
    </form>
</div>