.container {
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    height: 100%;
    width: 50%;
    border: 1px solid rgba(194, 192, 192, 0.76);
    border-radius: 10px;
    padding: 20px;
    .headings{
        h1{
            font-size: large;
            font-weight:500;
            .f{
                color: rgb(0, 0, 255);
            }
            .u{
                color: rgb(253, 116, 4);
            }
            .n{
                color: rgb(255, 0, 0);
            }
            .d{
                color: rgb(0, 202, 34);
            }
            .o{
                color: rgb(255, 115, 0);
            }
            
        }
        h3{
            margin-top: -15px;
            font-size: larger;
        }
    }
    .subContainer{
        display: flex;
        justify-content: space-between;

       
        .form-content{
            display: flex;
            flex-direction: column;
          
            
            .user-name{
                display: flex;
                gap: 20px;
                .name{
                    width: 180px; 
                } 
            }  
            .password-container{
                display: flex;
                gap: 20px;
                height: 70px;
                .password{
                    width: 180px;
                } 
               
            }   
            p{
                font-size: 13px;
                height: 10px;
            } 
            .email-container{
                height: 70px;
                .email{
                    width: 380px;
                }
            }
            .use-cur-email{
                color: rgb(77, 77, 253);
            }
            
           .btn{
               display: flex;
               justify-content: space-between;
               margin-top: 50px;
               
               a{
                   color: rgb(77, 77, 253);
               }
               button{
                   background-color: rgb(77, 77, 253);
                   color: #fff;
               }
           }
           
        }
        .register-image{
            height: 100px;
            width: 40%;
            align-self:flex-start;
            p{
                font-weight: lighter;
                font-size: large;
                text-align: center;
            }
        } 
    } 
}

