<div class="container">
  <div class="headings">
    <h1>Fundoo-Notes</h1>
    <h3>create your fundoo account</h3>
  </div>
  <div class="subContainer">
    <div class="form-content">
          <!-- {form} -->
        <div class="user-name">
            <mat-form-field class="name" appearance="outline">
              <mat-label >First Name</mat-label>
              <input matInput placeholder="First Name">
            </mat-form-field>
            <mat-form-field class="name" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last Name">
            </mat-form-field>
        </div>
        <div class="email-container">
          <mat-form-field class="email" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="enter your email">
          </mat-form-field>
        </div>
        
        <div class="password-container">
          <mat-form-field class="password" appearance="outline">
            <mat-label >First Name</mat-label>
            <input matInput placeholder="First Name">
          </mat-form-field>
          <mat-form-field class="password" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name">
          </mat-form-field>
      </div>
      <mat-checkbox class="example-margin">  Show password</mat-checkbox>
      <div class="btn">
        <a mat-button href="https://www.google.com/" target="_blank">sign in instead</a>
        <button mat-raised-button >Next</button>
      </div>
    </div>
       <!-- {image} -->
       <div class="register-image">
        <img src="../../../assets/account.svg" alt="">
      </div>
  </div>
</div>