<div class="icongroup">
  
    <img class="search_image" style="margin-right: 10px;
    height: 20px;" src="../../../assets/add_alert_black_24dp.svg">
    <img class="search_image" style="margin-right: 10px;
    height: 20px;" src="../../../assets/person_add_alt_black_24dp.svg">
    <img class="search_image" style="margin-right: 10px;
    height: 20px;" src="../../../assets/palette_black_24dp.svg">
    <img class="search_image" style="margin-right: 10px;
    height: 20px;" src="../../../assets/image_black_24dp.svg">
    <img class="search_image" style="margin-right: 10px;
    height: 20px;" src="../../../assets/archive_black_24dp.svg">
    <img class="search_image" style="margin-right: 10px;
    height: 20px;" src="../../../assets/more_vert_black_24dp.svg">


  </div>
