.takenote{
    border: 1px solid green; 
    width: 250px;
    margin-left: 65px;
    border-color: #e0e0e0;
    margin-top: 44px;
    border-radius: 14px;
    padding: 10px;
   
}
.icons{
   opacity: 0;
}
.takenote:hover .icons{
  text-align: center;
  opacity: 1;
}
.icons-lt-lg{
  text-align: center;
  opacity: 1;
}

  ::ng-deep .my-custom-dialog-class {
    mat-dialog-container {
      padding: 0;
    }
  }

  .formatStyle{
    width: 600px;
    height: auto;
    margin-left: 440px;
    
}
.grid-list-lt-lg{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
}