.takenote{
    border: 1px solid green; 
    width: 250px;
    margin-left: 70px;
    border-color: #e0e0e0;
    margin-top: 44px;
    border-radius: 14px;
    padding: 10px;
   
}
.icons{
    text-align: center;
    display: none;
}
.takenote:hover .icons{
  text-align: center;
  display: block;
}

  ::ng-deep .my-custom-dialog-class {
    mat-dialog-container {
      padding: 0;
    }
  }