<div ngClass.gt-md="container-gt-md" ngClass="container" fxLayout="column"  fxLayoutAlign="space-between center">
    <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
    <div class="Header"  fxLayout="column"  fxLayoutAlign="space-between center">
        <h1>
            <span class="f">F</span>
            <span class="u">u</span>
            <span class="n">n</span>
            <span class="d">d</span>
            <span class="o">o</span>
            <span class="o">o</span>
        </h1>
        <p>Reset password</p>
        <p class="desc">Enter a new password </p>
    </div>
    <div class="Password-content">
        <mat-form-field class="password" appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput placeholder="new password" formControlName="newPassword">
        <mat-error>enter valid password</mat-error>
        </mat-form-field>          
    </div>
    <p class="passDesc">Use 8 or more characters with a mix of letters, numbers & symbols</p>
    <div class="Password-content">
        <mat-form-field class="password" appearance="outline">
        <mat-label>confirm</mat-label>
        <input matInput placeholder="confirmPassword" formControlName="confirmNewPassword">
        <mat-error>password does not match</mat-error>
        </mat-form-field>        
    </div>
    <div  ngClass.gt-md="btn-container-gt-md"  ngClass="btn-container" fxFlexAlign="end">
        <button ngClass="btn"  mat-raised-button >reset</button>
    </div>
    </form>
</div>