<div ngClass.lt-md="container-lt-sm" ngClass.lt-xl="container-lt-xl" ngClass.lt-md="container-lt-md" fxLayout.lt-xl="column"  fxLayoutAlign.lt-xl="center center" fxLayoutAlign.lt-md="center center">
    <form [formGroup]="resetPassForm">
    <div class="Header"  fxLayout.lt-xl="column"  fxLayoutAlign.lt-xl=" center">
        <h1>
            <span class="f">F</span>
            <span class="u">u</span>
            <span class="n">n</span>
            <span class="d">d</span>
            <span class="o">o</span>
            <span class="o">o</span>
        </h1>
        <p>Reset password</p>
        <p class="desc">Enter a new password </p>
    </div>
    <div class="Password-content">
        <mat-form-field class="password" appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput placeholder="new password" formControlName="newPassword">
        <mat-error>enter valid password</mat-error>
        </mat-form-field>          
    </div>
    <p class="passDesc">Use 8 or more characters with a mix of letters, numbers & symbols</p>
    <div class="Password-content">
        <mat-form-field class="password" appearance="outline">
        <mat-label>confirm</mat-label>
        <input matInput placeholder="confirmPassword" formControlName="confirmNewPassword">
        <mat-error>password does not match</mat-error>
        </mat-form-field>        
    </div>
    <div ngClass.lt-sm="btn-container-lt-sm"  ngClass.lt-xl="btn-container" fxFlexAlign.lt-xl="end">
        <button ngClass.gt-xs="btn" mat-raised-button >reset</button>
    </div>
    </form>
</div>