h1{
    font-size: x-large;
    font-weight:500;
    .f{
        color: rgb(0, 0, 255);
    }
    .u{
        color: rgb(253, 116, 4);
    }
    .n{
        color: rgb(255, 0, 0);
    }
    .d{
        color: rgb(0, 202, 34);
    }
    .o{
        color: rgb(255, 115, 0);
    }
}
.desc{
    margin-top: 5px;
}
.container-gt-md{
    border: 1px solid rgba(240, 209, 209, 0.692);
    border-radius: 10px;
    width: 40%;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
  
    .desc{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .btn-container-gt-md{
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: end;
        .btn{
            background-color: rgb(77, 77, 253);
            color: #fff
        }
    }
    .Password-content{
        height: 70px;
        
        .password{
            width: 405px;
            height: 55px;
        }
    }
    .passDesc{
        font-size: 13px;
        
    } 
}
.container{
    border: 1px solid rgba(240, 209, 209, 0.692);
    border-radius: 10px;
    width: 90%;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    
    .btn-container{
        margin-top: 30px;
        text-align: end;
        .btn{
            background-color: rgb(77, 77, 253);
            color: #fff
        }
    }
    .Password-content{
        .password{
            width: 230px;
            height: 60px;
        }
    }
    .passDesc{
        font-size: 8px;
        margin-top: 8px;
      
    } 
}
